@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-transform: capitalize;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    transition: all .2s linear;
}
:root{
    --maincolor: #f9d806;
    --secondery-color: #ffee80 ;
    --another-color: #130f40 ;
    --light-color: #666 ;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --shadow: 0 0.5rem 1rem rgba(0 ,0 ,0 ,.1)
}
html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    font-size: 90%;
} 


/* start header   */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; right: 0;left: 0;
    z-index: 99;
    background-color:#fff;
    padding: 2rem 150px;
}
header .logo span{
    color: var(--maincolor);
}
header .logo {
    color: var(--another-color);
    font-size: 1.5rem;
}
.header .navbar a {
    padding: 0 10px;
    color: black;
}
.header .navbar a:hover {
    color: var(--maincolor);
}
.btn{
    background-color:var(--secondery-color);
    padding: 3px 15px;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.5rem;
}
.header i{
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.header .btn:hover {
    background-color: var(--maincolor);
}
.header.active{
    box-shadow: var(--shadow);
}
#bar{
    display: none;
}
@media (max-width: 950px){
    html{
        font-size: 70%;
    }
    .header{
        padding: 2rem;
    }
} 
@media (max-width: 768px){
    .header i{
        display: block;
    }
    .header .btn{
        display: none;
    }
    .header .navbar{
        position: absolute;
        top: 100%;right: 0;left: 0;
        background-color: #fff;
        border: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        padding: 10px;
        font-size: 2rem;
    }
    #bar{
        display: block;
    }
    
    /* #bar.fa-bars{
        /* transform: rotate(180deg); */
    /* } */ 
}
@media (max-width: 450px){
    html{
        font-size: 60%;
    }
}
.loginform{
    position: fixed;
    top: -150%; left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255, 255, 255 , 0.9);
    opacity: 0;
}
.loginform.active{
    top: 0;
    opacity: 1;
}
.loginform form {
    padding: 2rem;
    margin: 2rem;
    border: var(--border);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: var(--shadow);
    text-align: center;
    width: 40rem;
}
.loginform form .btn{
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem 0;
}
.loginform form .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.loginform form .buttons a{
    color: black;
}
.loginform form h3{
    font-size: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.loginform form .box{
    border: var(--border);
    color: black;
    width: 100%;
    margin: 0.8rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}
.loginform form p{
    margin: .5rem;
    color: var(--light-color);
}
.loginform form p a{
    color: var(--maincolor);
}
.loginform #closee{
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    font-size: 3rem;
    cursor: pointer;
}
section {
    padding: 2rem 150px;
}
.home{
    padding-top: 10rem;
    overflow-x: hidden;
    text-align: center;
}
.home h1{
    font-size: 7rem;
    color: var(--light-color);
    text-transform: uppercase;
}
.home img {
    margin: 1rem 0;
    width: 50%;
    transition: 0.5s;
}
.home img:hover{
    transform: scale(1.2);
}
@media (max-width: 768px){
    .home{
        text-align: center;
    }
    .home img{
        width: 250px;
    }
    .home h1{
        font-size: 2rem;
    }
}

.icon-container{
    background-color:#eee;
    margin: 0rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 20px;
    padding: 3.5rem 0;
    border-radius: 20px;
}
.icon-container .icons{
    /* width: 100%; */
    background-color: #fff;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 10px;
    border-radius: .5rem;
}
.icon-container .icons i{
    color: black;
    font-size: 3rem;
    height: 6rem;
    width: 6rem;
    background-color: #eee;
    border-radius: 50%;
    text-align: center;
    padding-top: 1.5rem;
}
.icon-container .icons .content h3{
    padding: 0 2rem;
    color: var(--maincolor);
    font-size: 2rem;
}
.icon-container .icons .content p{
    padding: 0 1.5rem;
    font-size: 1.5rem;
}
.icon-container .icons:hover i{
    background-color: var(--maincolor);
}
.icon-container .icons:hover {
    background-color: #130f40;
}
.icon-container .icons:hover p{
    color: var(--maincolor);
}